*{
    margin: 0;
    padding: 0;
}
body{
    background: #414141;
    font-family: Arial, Helvetica, sans-serif;
}
.top-content-wrapper{
    width: 100%;
    background: #f9f7db url(/images/bodyBg.jpg) repeat-x;

}
.top-content{
    width: 928px;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 75px;
    height: 740px;
    background: url(/images/globalpic.jpg);
    background-repeat: no-repeat;
}

/* --about panel-- */
.about-panel{
    width: 216px;
    height: 715px;
    background: #cd4007 url(images/globalpic.jpg) no-repeat -77px -494px;
}
.top-heading{
    width: 47px;
    height: 110px;
    margin-left: 169px;
    
}

.top-heading a {
    width: 47px;
    height: 36px;
    margin: 0px;
    display: block;
    padding: 56px 0 0 0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #646464;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
    background: url(images/homeBg.gif) no-repeat;
    
}
.top-heading a:hover {
    height: 36px;
    padding: 74px 0 0 0;
    background: url(images/homeBg.gif) no-repeat -48px 0;
}
.panel-content{
    width: 170px;
    margin: 0 auto;
    margin-top: 199px;
    color: #ffe996;
}
.panel-content h2{
    color: white;
    font-size: 26px;
    font-weight: normal;
}
.panel-content h3{
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}
.panel-content p{
    font-size: 12px;
    margin-top: 20px;
}
.panel-content p a{
    color: #f8d85e;
    background:#9f3105 ;
    text-decoration: none;
}
.panel-content p a:hover{
    background: #812a08;
}
.panel-content .read-more-btn{
    padding: 4px 7px;
    margin-left: 100px;
    text-decoration: none;
    font-size:11px ;
    color:#d9d9d9 ;
    background: url(/images/buttons.jpg);
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.panel-content .read-more-btn:hover{
    color: #cd4007;
}
.event-panel{
    width: 216px;
    height: 715px;
    border-left:1px solid #f3f1d2 ;
    background: #9fb31a url(images/globalpic.jpg) no-repeat -294px -494px;
}
.event-top-heading a{
    background:url(images/about.gif) no-repeat;
}
.event-top-heading a:hover{
    background:url(/images/about.gif) no-repeat -48px 0;
}
.event-panel ul{
    margin-top: 8px;
    list-style: none;
}
.event-panel ul li h2 {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
}
.event-panel .read-more-btn{
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
}
.event-panel .read-more-btn:hover{
    color:#9fb31a ;
}

.event-panel .panel-content p a{
    background: #75850e;
    color:#f2ff9a ;
}
.event-panel .panel-content p a:hover{
    background: #525d08;
    color: #f2ff9a;
}

/* ---top right panel --  */
.right-panel{
    width: 400px;
    padding-left: 20px;
    padding-top: 22px;
}
.menu-ad-block{
    width: 100%;
    display: flex;
}
.menu{
    width: 191px;
    margin-right: 34px;
}
.menu ul{
    list-style: none;
}
.menu ul li a {
    width: 100%;
    height: 24px;
    margin: 0px;
    padding: 0 0 0 15px;
    float: left;
    font-family: Arial;
    font-size: 12px;
    color: #636038;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #b1ae7e dotted 1px;
    background: url(images/liststyle.jpg) no-repeat 0 7px
}
.menu ul li a:hover{
    color: #75850e;
} 

.ad-block{
    width: 171px;
    height: 195px;
    background:url(/images/globalpic.jpg) no-repeat -337px -110px;
}
.right-panel h2{
    margin-top: 29px;
    padding: 0 0 0 57px;
    font-size: 34px;
    line-height:40px ;
    color: #cb3e07;
    font-weight: normal;
    background: url(images/globalpic.jpg) no-repeat -467px -308px;
}
.right-panel .additional-links{
    margin-top: 12px;
}
.right-panel .additional-links ul{
    list-style: none;
    width: 400px;
    height: 180px;
}
.right-panel .additional-links ul li a {
    height: 27px;
    width: 100%;
    box-sizing: border-box;
    margin: 3px 0 0 0;
    padding: 0 0 0 27px;
    float: left;
    font-family: Arial;
    font-size: 12px;
    color: #3b3a2b;
    line-height: 25px;
    text-decoration: none;
    background: url(images/globalpic.jpg) no-repeat -75px -83px;
}

.right-panel .additional-links ul li a:hover{
    color:#9fb31a ;
}

/* --- icons- links--- */
.icon-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.icon-links a{
    width: 127px;
    height: 101px;
}
.icon-links .ideas{
    background:url(images/globalpic.jpg) no-repeat -77px -392px ;
}
.icon-links .signup{
    background:url(images/globalpic.jpg) no-repeat -204px -392px;
}
.icon-links .blog{
    background:url(images/globalpic.jpg) no-repeat -331px -392px ;
}

.news-letter{
    width: 400px;
    height: 76px;
    margin-top: 25px;
    padding: 10px 0 0 114px;
    box-sizing: border-box;
    background:url(images/globalpic.jpg) no-repeat -75px 0 ;
}
.news-letter h3{
    font-size: 18px;
}
.news-letter input{
    width: 206px ;
    height: 18px;
    margin-top: 5px;
    margin-right: 7px;
    padding-top: 3px;
    font-size: 10px;
    color: #212121;
}
.news-letter .btn-submit{
    color: white;
    background:url(images/globalpic.jpg) no-repeat -75px -226px ;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    padding: 4px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* --------middle-content-wrapper start------ */
.middle-content-wrapper{
    width: 100%;
    background: #e9e6c3 url(images/middleBg.jpg) repeat-x;
}
 .container{
    width:928px ;
    margin: 0 auto;
    padding-top:24px ;
    display: flex;
}
.features-wrapper{
    width: 473px;
    padding: 0 31px 34px 26px;
}
.features-wrapper h2{
    font-size: 34px ;
    color: #1d1d1d;
    padding-left: 50px;
    font-weight: normal;
    background: url(images/globalpic.jpg) no-repeat -474px -357px;
}
.features-wrapper p{
    margin-top: 9px;
    font-size: 12px ;
    color: #575433;
    line-height: 19px;
}
.features-wrapper .read-more-btn, .login-btn{
    padding: 5px;
    text-decoration: none;
    font-size: 11px;
    float: right;
    color: white;
    background: url(images/globalpic.jpg) no-repeat -117px -226px;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.login-wrapper{
    width: 180px;
    height: 184px;
    border: 1px solid #d7d3aa;
    background: #f1eed0;
}
.login-wrapper h2{
    padding-left: 33px;
    font-size: 18px;
    color: #212121;
    font-weight: normal;
    line-height: 30px;
    background:#ffffff url(images/globalpic.jpg) no-repeat -483px -399px ;
}
.login-wrapper .form{
    padding:8px 0 0 17px;
}
.login-wrapper .form label{
    font-size: 10px ;
    color: #1d1d1d;
}
.login-wrapper .form input{
    padding: 3px;
    width: 90%;
}

.login-wrapper .form .btns{
    margin-top: 6px;
}
.login-wrapper .form .btns .forgot-btn{
    margin-top: 6px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #9fb31a;
}

.login-wrapper .form .btns .login-btn{
    float: unset;
    margin-top: 6px;
}

.contact{
    width: 210px;
    height: 107px;
    margin: 21px 0 0 19px;
    background:url(images/globalpic.jpg) no-repeat -75px -111px ;
}
.contact p{
    font-size: 26px;
    color: #252525;
    margin-top: 10px;
    line-height: 30px;
    padding-left: 28px;
}
/* -----Footer section start --------- */
footer{
    width: 100%;
    padding-bottom: 23px;
    background:url(images/footbg.jpg) repeat-x ;
}
footer .container{
    display: flex;
    flex-direction: column;
}


.footer-nav{
    width: 655px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-nav li:last-child a{
    border: none;
}
.footer-nav li a{
    font-size: 11px;
    color: #d5d5d5;
    text-decoration: none;
    border-right: 1px solid #d5d5d5;
    padding-right:8px ;
}
.copyright{
    text-align: center;
    color: #9fb31a;
    font-size: 10px;
    margin-top: 6px;
}
footer .para{
    color: #e9e6c3;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 9px;
}
footer .para a{
    color: white;
    text-decoration: none;
}
.footer-btns{
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}
.footer-btns a{
    color: white;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    background:url(images/globalpic.jpg) no-repeat -222px -226px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}